@import "grapesjs/dist/css/grapes.min.css";

* {
  box-sizing: border-box;
}

html, body, #app {
  margin: 0;
  padding: 0;
  height: 100dvh;
}

#app {
  display: flex;
  flex-direction: column;
}

#toolbar {
  padding: 4px 2px;
  display: flex;
}

.spacer {
  flex: 1;
}

.gjs-project-data {
  max-height: 50vh;
  overflow: auto;
  color: #eee;
}

.gjs-block__media .fa {
  font-size: 32px;
}
