@import "grapesjs/dist/css/grapes.min.css";

* {
  box-sizing: border-box;
}

html, body, #app {
  margin: 0;
  padding: 0;
  height: 100dvh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
}

.gjs-block__media .fa {
  font-size: 32px;
}

.gjs-project-data {
  max-height: 50vh;
  overflow: auto;
  color: #eee;
}
